.body {
    background-color:black;
    color: white;
    margin: 0;
    padding: 0;
    background-image: url("https://st2.depositphotos.com/1579454/9602/i/950/depositphotos_96021274-stock-photo-cardboard-boxes-on-computer-keyboard.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
}

body::before {
    content: "";
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.3);
    background-size: 100%;
    background-attachment: fixed;
    height: 100%;
}

.text-muted {
    color: #ffffff !important;
}

.form-group { 
    margin-top: 10px;
    color: white

}

form {
    margin-top: 10px
}

header{
    color: violet;
    border-radius: 10ch;
    font-size: 30px;
    border-radius: 20px;
}
h3 {
    padding-top: 15px;
    color: white;
}
.form-border{
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px; 
    box-shadow: 10px -5px 5px lightgrey;
    margin-bottom: 25px;
}
.addbutton{
    margin-top: 18px;
}
.buttonstack{
    display: block;
}
.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #007bff;
    width: 100%; 
    margin-left: 0px;
    margin-right: 0px;

}


h4 {
    color: white;
}

.title {
    background-color:  #007bff;
}

.packages {
    margin-bottom: 265px;
}

h2 {
    color:black;
    margin-top: 10px;
}

.card {
    margin-top: 10px;
}


.signup-form {
    margin-left: 15px;
}
