header{
    color: violet;
    border-radius: 10ch;
    font-size: 30px;
    border-radius: 20px;
}
/* #intro{
    background-image: url(../assets/sheeping.png);
    height: 380px;
    background-repeat: no-repeat;
} */

p { 
    margin-top: 20px;
}
